<div class="row collapse search-box">
  <div class="small-10 columns">
    {{input type='text' value=value placeholder=placeholder action='search'}}
  </div>
  <div class="small-2 columns">
    <button class="postfix button" {{action 'search'}}>
      Search
    </button>
  </div>
</div>
