<div class="row">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">

      <li class="name">
        <h1><a href="#">T&T Jewelry</a></h1>
      </li>

      <li class="toggle-topbar menu-icon">
        <a href="#"><span>menu</span></a>
      </li>
    </ul>

    <section class="top-bar-section ">
      <ul class="right">
        <li><input type="text"></li>
        <li><a href="#" class="butteon [radius round]">Search</a></li>
      </ul>
    </section>
    </nav>
</div>

<main>
  {{outlet}}
</main>

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright: This site belongs to An Dang</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="http://andang.info/" target="_blank" class="button secondary">Contact me!</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

