<div class="row">
<div class="panel callout radius text-center">
  <h6>Wellcome to T&T Jewelry</h6>
</div>
<div class="row">
  <div class="small-6 large-centered columns text-center">
    <ul class="button-group">
      <li>
        {{#link-to 'products' (query-params category="jewelry") class="success large radius button" }}Jewelry{{/link-to}}
      </li>
      <li>
        {{#link-to 'products' (query-params category="watch") class="success large radius button" }}Watch{{/link-to}}
      </li>
    </ul>
  </div>
</div>
<img src="/assets/images/sea-dweller-4000_m116600-0003_0002_1680x5801432816583553658W.jpeg"/>
</div>
